{{yield}}

<div
  class="modal fade"
  id="orders-card-modal-{{id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><span
            class="fs-6 fw-light"
          >order </span><span class="text-start fs-4 fw-semibold">#{{id}}
          </span></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          {{#each orderItems as |orderItem|}}
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 text-start">
                  {{orderItem.item_name}}
                </div>
                <div class="col-2">
                  x{{orderItem.quantity}}
                </div>
                <div class="col-2">
                  {{orderItem.item_price}}
                </div>
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <div class="fs-4 fw-semibold">$234 </div>
      </div>
    </div>
  </div>
</div>
