{{yield}}

<div class="card w-100 m-1">
  <div class="card-body row align-items-center">
    <div class="card-title col-3 text-start">
      <div class="fs-5 fw-normal">
        <i class="bi bi-person-fill"></i>
        <span>{{user.name}}</span>
      </div>
    </div>
    <div class="card-text col-3">
      {{user.email}}
    </div>

    <div class="card-text col-3">
      {{user.phone}}
    </div>
    <span class="col-3 text-end">
      <button
        class="btn btn-outline-dark m-2"
        data-bs-toggle="modal"
        data-bs-target="#modalEditUserForm-{{user.id}}"
      >
        <i class="bi bi-pen-fill"></i>
      </button>
      {{! Modal for Edit user }}
      {{users/users-container/users-modal user=user}}
      <button class="btn btn-danger">
        <i class="bi bi-trash-fill"></i>
      </button>
    </span>
  </div>
</div>
