{{yield}}

<div id="item-container" class="row overflow-scroll">
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}

  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
  {{menu/item-container/item-card}}
</div>
